.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 1px;
  border: 1px solid black;
}

.calendar-day-of-week {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #ddd;
  border-bottom: 1px solid black;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #fff;
  border: 1px solid black;
}

.calendar-day:hover {
  background-color: #eee;
}

.calendar-day--today {
  font-weight: bold;
  background-color: #aaf;
}
